apiVersion: logging.banzaicloud.io/v1beta1
kind: ClusterOutput
spec:
  elasticsearch:
    host: {{ config.logging_operator.elastic.host | default('elastic-es-http.' + config.elastic.namespace + '.svc.cluster.local')  }}
    port: {{ config.logging_operator.elastic.port | default(9200)  }}
    scheme: https
    ssl_verify: {{ config.cicd.elastic.validate_certs | default(config.system.validate_certs) }}
    ssl_version: TLSv1_2
    user: {{ config.logging_operator.elastic.service_account | default('elastic') }}
    password:
      valueFrom:
        secretKeyRef:
          name: {{ platform.prefix }}-cluster-output-elastic-password
          key: password
    buffer:
      timekey: 1m
      timekey_wait: 30s
      timekey_use_utc: true
    target_index_key: es_index
    
